<div class="row ng-scope" ng-if="vm.dataLoaded">
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <span class="caption-subject font-red-haze bold">
                        <span class="uppercase ng-scope" ng-if="vm.form.isNew()">Tạo mới văn bản định chế </span>
                    </span>
                </div>
                <div class="actions">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm right-5 ng-scope"
                            ng-click="vm.actions.saveItem()" ng-if="vm.actions.canUpdateRequestDetail()"><i
                                class="fa fa-save font-green-jungle right-5"></i> Lưu lại
                        </button>
                        <button type="button" class="btn btn-default btn-sm right-5" ng-click="vm.actions.goBack();">
                            <i class="fas fa-times"></i>
                            Đóng lại
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="true" style="padding: 0px !important">
                                <i class="fas fa-caret-square-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tabGeneral">
                        <div class="row ng-scope" ng-if="vm.errors.length > 0" style="padding: 15px 0">
                            <div class="col-sm-12">
                                <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                                    <h5 class="bold uppercase">Vui lòng điền đầy đủ thông tin vào các trường có dấu
                                        <span class="font-red-thunderbird">*</span>:</h5>
                                    <p></p>
                                    <ul>
                                        <li ng-repeat="error in vm.errors">
                                            <span class="bold">{{error.Field}}</span> : {{error.Message}}
                                        </li>
                                    </ul>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="row ng-scope" ng-if="(vm.isEdit) || !vm.canPreviewDocument()">
                            <div class="col-sm-12">
                                <div class="portlet box bg-grey bg-font-grey fx-portlet">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <span class="caption-subject hr-process uppercase f-collapse">
                                                Thông tin văn bản định chế</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-horizontal">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 col-md-2 col-lg-4 control-label">Đơn
                                                                vị
                                                                biên soạn:
                                                                <span class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                            </label>
                                                            <div class="col-sm-10 col-md-10 col-lg-8">
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <tree-dropdown-list multi-select="false"
                                                                        tree-data-source="vm.departments"
                                                                        ng-change="vm.actions.changeDocumentTypes()"
                                                                        ng-model="vm.document.DonViBienSoan">
                                                                    </tree-dropdown-list>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Tên văn bản:
                                                                <span class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <input
                                                                    class="form-control input-sm ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-empty ng-valid-maxlength"
                                                                    ng-change="vm.actions.changeDocumentTypes()"
                                                                    maxlength="250"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    ng-model="vm.document.TenVanBan">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Thể thức văn bản:
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() --><span
                                                                    class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() --></label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <select k-ng-model="vm.document.TheThucVanBan"
                                                                        k-value-primitive="true"
                                                                        k-on-change="vm.actions.changeDocumentTypes()"
                                                                        kendo-drop-down-list="" class="full-width"
                                                                        k-options="vm.optLoaiVanBan"
                                                                        style="display: none;">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">
                                                                Sổ văn bản:
                                                                <span class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <div>
                                                                    <select ng-model="vm.document.SoVanBan"
                                                                        ng-if="vm.actions.canUpdateRequestDetail()"
                                                                        k-ng-model="vm.tmp.SVB"
                                                                        k-on-change="vm.actions.changeDocumentTypes()"
                                                                        k-value-primitive="true" kendo-drop-down-list=""
                                                                        class="full-width ng-pristine ng-untouched ng-valid ng-scope ng-empty"
                                                                        k-options="vm.optSoVanBan"
                                                                        style="display: none;">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">
                                                                Số ký hiệu:
                                                                <span class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() --><input
                                                                    class="form-control input-sm ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-empty ng-valid-maxlength"
                                                                    maxlength="50"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    ng-model="vm.document.SoKyHieu"
                                                                    ng-change="vm.actions.changeSubject()">
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <!-- ngIf: !vm.actions.canUpdateRequestDetail() -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Năm văn bản:</label>
                                                            <div class="col-sm-8">
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <input kendo-numeric-text-box="" k-format="'####'"
                                                                        k-min="1" k-max="9999999"
                                                                        k-on-change="vm.actions.changeDocumentTypes()"
                                                                        k-ng-model="vm.document.Nam"
                                                                        class="full-width ng-isolate-scope k-input"
                                                                        data-role="numerictextbox" role="spinbutton"
                                                                        type="text" style="display: none;">
                                                                </div>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Trích yếu:
                                                                <span class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <textarea
                                                                        class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                                        fx-auto-size="" ng-model="vm.document.NoiDung"
                                                                        ng-change="vm.actions.changeSubject()"
                                                                        style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 50px;">
                                                                    </textarea>
                                                                </div>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Người biên soạn:</label>
                                                            <div class="col-sm-8">
                                                                <people-picker ng-model="vm.NguoiBienSoan"
                                                                    model-type="object" multi-select="false"
                                                                    model-set-type="replace"
                                                                    principal-account-type="User"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty">
                                                                </people-picker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Người nhận ủy
                                                                quyền:</label>
                                                            <div class="col-sm-8">
                                                                <people-picker ng-model="vm.document.NguoiNhanUyQuyen"
                                                                    model-type="object" multi-select="false"
                                                                    model-set-type="replace"
                                                                    principal-account-type="User"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty">
                                                                </people-picker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Lần ban hành:</label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <input
                                                                        class="form-control input-sm ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-empty ng-valid-maxlength"
                                                                        maxlength="255"
                                                                        ng-if="vm.actions.canUpdateRequestDetail()"
                                                                        ng-model="vm.document.LanBanHanh">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group"><label class="col-sm-2 control-label">Lý
                                                                do ban hành:</label>
                                                            <div class="col-sm-10">
                                                                <textarea ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-empty"
                                                                    fx-auto-size="" ng-model="vm.document.LyDoBanHanh"
                                                                    style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 50px;">
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Người ký:
                                                                <span class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <people-picker ng-model="vm.NguoiKy" model-type="object"
                                                                    multi-select="false" model-set-type="replace"
                                                                    principal-account-type="User"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty">
                                                                </people-picker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Ngày ký:</label>
                                                            <div class="col-sm-8">
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <input kendo-date-picker="" k-format="'dd/MM/yyyy'"
                                                                        k-ng-model="vm.document.NgayKy"
                                                                        class="ng-isolate-scope k-input" type="text"
                                                                        style="width: 100%;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Thẩm quyền ban hành:
                                                                <span class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <select k-ng-model="vm.document.ThamQuyenKy"
                                                                        kendo-drop-down-list="" class="full-width"
                                                                        k-value-primitive="true"
                                                                        k-options="vm.optThamQuyenKy"
                                                                        data-role="dropdownlist" style="display: none;">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Tình trạng hiệu lực:
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() --><span
                                                                    class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() --></label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <select ng-model="vm.document.TinhTrangHieuLuc"
                                                                        k-ng-model="vm.tmp.TTHL"
                                                                        k-value-primitive="true" kendo-drop-down-list=""
                                                                        class="full-width ng-pristine ng-untouched ng-valid ng-empty ng-valid-parse"
                                                                        k-options="vm.optTinhTrangHieuLuc"
                                                                        data-role="dropdownlist" style="display: none;">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- ngIf: vm.cloneRQ.IdVanBanThayThe > 0 -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Ngày hiệu lực:
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() --><span
                                                                    class="font-red-thunderbird ng-scope"
                                                                    ng-if="vm.actions.canUpdateRequestDetail()">*</span>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() --></label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <input kendo-date-picker="" k-format="'dd/MM/yyyy'"
                                                                        k-ng-model="vm.document.NgayHieuLuc"
                                                                        class="ng-isolate-scope k-input"
                                                                        data-role="datepicker" type="text"
                                                                        style="width: 100%;">
                                                                </div>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <!-- ngIf: !vm.actions.canUpdateRequestDetail() -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Ngày hết hiệu
                                                                lực:</label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <input kendo-date-picker="" k-format="'dd/MM/yyyy'"
                                                                        k-ng-model="vm.document.NgayHetHieuLuc"
                                                                        class="ng-isolate-scope k-input"
                                                                        data-role="datepicker" type="text"
                                                                        style="width: 100%;">
                                                                </div>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <!-- ngIf: !vm.actions.canUpdateRequestDetail() -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Ngày bị đình chỉ:</label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <input kendo-date-picker="" k-format="'dd/MM/yyyy'"
                                                                        k-ng-model="vm.document.NgayDinhChi"
                                                                        class="ng-isolate-scope k-input"
                                                                        data-role="datepicker" type="text"
                                                                        style="width: 100%;">
                                                                </div>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <!-- ngIf: !vm.actions.canUpdateRequestDetail() -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Ngày bị hủy bỏ:</label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <input kendo-date-picker="" k-format="'dd/MM/yyyy'"
                                                                        k-ng-model="vm.document.NgayBiHuyBo"
                                                                        class="ng-isolate-scope k-input"
                                                                        data-role="datepicker" type="text"
                                                                        style="width: 100%;">
                                                                </div>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <!-- ngIf: !vm.actions.canUpdateRequestDetail() -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Ngày bị sửa đổi/Bổ
                                                                sung:</label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <input kendo-date-picker="" k-format="'dd/MM/yyyy'"
                                                                        k-ng-model="vm.document.NgaySuaDoi"
                                                                        class="ng-isolate-scope k-input"
                                                                        data-role="datepicker" type="text"
                                                                        style="width: 100%;">
                                                                </div>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <!-- ngIf: !vm.actions.canUpdateRequestDetail() -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group"><label
                                                                class="col-sm-4 control-label">Ngày bị thay thế:</label>
                                                            <div class="col-sm-8">
                                                                <!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <div ng-if="vm.actions.canUpdateRequestDetail()"
                                                                    class="ng-scope">
                                                                    <input kendo-date-picker="" k-format="'dd/MM/yyyy'"
                                                                        k-ng-model="vm.document.NgayBiThayThe"
                                                                        class="ng-isolate-scope k-input"
                                                                        data-role="datepicker" type="text"
                                                                        style="width: 100%;">
                                                                </div>
                                                                <!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                                                <!-- ngIf: !vm.actions.canUpdateRequestDetail() -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group"><label
                                                                class="col-sm-2 control-label">Văn bản đính kèm
                                                                khác:</label>
                                                            <div class="col-sm-10">
                                                                <div
                                                                    ng-show="vm.form.isNew() || vm.actions.canUpdateRequestDetail() || vm.document.VanBanDinhKem.length > 0">
                                                                    <!-- <fx-file-attach f-list-name="VanBanDinhKem"
                                                                        f-site-url="https://eoffice.fecon.com.vn/vanbandinhche"
                                                                        f-item-code="" f-control="vm.attachmentCtrl"
                                                                        ng-model="vm.document.VanBanDinhKem"
                                                                        f-edit-mode="vm.actions.canUpdateRequestDetail()"
                                                                        f-control-permission="{canEdit: true}"
                                                                        f-file-permission="{canEdit: true, canRemove: true}"
                                                                        f-on-uploaded="vm.actions.onAttachmentUploaded(fxEvent)"
                                                                        f-on-updated="vm.actions.onAttachmentUpdated(fxEvent)"
                                                                        f-on-removed="vm.actions.onAttachmentRemoved(fxEvent)"
                                                                        fx-file-attach-converter=""
                                                                        fx-file-attach-manual-upload=""
                                                                        class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty">                                                                        
                                                                    </fx-file-attach> -->
                                                                    <input type="file" id="fileInput" />
                                                                </div>
                                                                <span class="form-control-static ng-hide"
                                                                    ng-hide="vm.form.isNew() || vm.actions.canUpdateRequestDetail() || vm.document.RequestAttachments.length > 0">Không
                                                                    có dữ liệu.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group"><label
                                                                class="col-sm-2 control-label">Văn bản liên
                                                                quan:</label>
                                                            <div class="col-sm-10">
                                                                <div class="row ng-isolate-scope"
                                                                    items="vm.document.VanBanLienQuan"
                                                                    f-on-search="vm.actions.onVanBanLienQuanSearch(eventArgs)"
                                                                    f-can-edit="vm.actions.canUpdateRequestDetail()"
                                                                    config="vm.config">
                                                                    <div class="col-sm-12">
                                                                        <!-- ngIf: items.length > 0 -->
                                                                        <!-- ngIf: !(vm.data.items.length > 0) && !fCanEdit() -->
                                                                        <!-- ngIf: fCanEdit() -->
                                                                        <div ng-if="fCanEdit()" class="ng-scope"><button
                                                                                type="button"
                                                                                class="btn btn-sm btn-default"
                                                                                ng-click="vm.actions.addRelatedDocuments()"><i
                                                                                    class="fa fa-search font-green right-5"></i>Thêm</button>
                                                                        </div><!-- end ngIf: fCanEdit() -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- ngIf: vm.actions.canUpdateRequestDetail() -->
                                                <div class="row ng-scope" ng-if="vm.actions.canUpdateRequestDetail()">
                                                    <div class="col-sm-12">
                                                        <div class="form-group"><label
                                                                class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-10"><button type="button"
                                                                    class="btn btn-default btn-sm right-5"
                                                                    style="float:right;margin-bottom:-5px"
                                                                    ng-click="vm.actions.saveItem()"><i
                                                                        class="fa fa-save font-green-jungle right-5"></i>
                                                                    Lưu lại</button></div>
                                                        </div>
                                                    </div>
                                                </div><!-- end ngIf: vm.actions.canUpdateRequestDetail() -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end ngIf: (vm.isEdit) || !vm.canPreviewDocument() -->
                    </div><!-- ngIf: !vm.form.isNew() && vm.canSendDoc() -->
                    <!-- ngIf: vm.document.LichSuBanHanh.length > 0 -->
                </div>
            </div>
        </div>
    </div>
</div>