<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">
        <span>&times;</span>
    </button>
    <h4 class="modal-title uppercase font-red-haze bold">
        Xóa văn bản định chế
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label ">
                    Lý do xóa:
                    <span class="font-red-thunderbird">*</span>
                </label>
                <div class="col-sm-10">
                    <div>
                        <textarea class="form-control" fx-auto-size ng-model="vm.Lydo"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="vm.deleteItem()">
        <i class="fa fa-times font-red right-5"> </i>
        <fx-ml-label key="DOCUMENT.FIELD.ADD-DOCUMENT" default-value="Xóa văn bản"></fx-ml-label>
    </button>
    <button class="btn btn-default btn-sm" ng-click="vm.cancel()">
        <fx-ml-label key="DOCUMENT.FIELD.CLOSE" default-value="Bỏ qua"></fx-ml-label>
    </button>
</div>