<div class="modal-header">
  <h4 class="modal-title uppercase font-red-haze bold" style="margin-left: 0px;">
    Xóa
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        Bạn có chắc chắn muốn xóa dữ liệu này ???
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" ng-click="vm.deleteItem()">
    <i class="fa fa-times font-red right-5"> </i>
    Xóa
  </button>
  <button class="btn btn-default btn-sm" ng-click="vm.cancel()">
    Bỏ qua
  </button>
</div>