<div class="modal-header">
  <h4 class="modal-title uppercase font-red-haze bold" style="margin-left: 0px;">
    Ban hành văn bản
  </h4>
</div>
<div class="modal-body">
  <div class="row" style="margin-bottom: 20px;">
    <label class="col-sm-2 control-label ">
      Người nhận:
      <span class="font-red-thunderbird">*</span>
    </label>
    <div class="col-sm-10">
      <people-picker ng-model="vm.document.NguoiNhanUyQuyen" model-type="object" multi-select="false"
        model-set-type="replace" principal-account-type="User"
        class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty">
      </people-picker>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;">
    <label class="col-sm-2 control-label">
      Phòng ban:
    </label>
    <div class="col-sm-10">
      <div>
        <tree-dropdown-list multi-select="true" tree-data-source="vm.departments" ng-model="vm.bh.PhongBan">
        </tree-dropdown-list>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;">
    <label class="col-sm-2 control-label ">
      Subject:
      <span class="font-red-thunderbird" ng-if="vm.actions.canUpdateRequestDetail()">*</span>
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-sm" ng-model="vm.bh.subject" maxlength="255" />
    </div>
  </div>
  <div class="row">
    <label class="col-sm-2 control-label ">
      Nội dung:
      <span class="font-red-thunderbird" ng-if="vm.actions.canUpdateRequestDetail()">*</span>
    </label>
    <div class="col-sm-10">
      <textarea class="form-control" fx-auto-size ng-model="vm.bh.body"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" ng-click="vm.deleteItem()">
    <i class="fas fa-paper-plane font-green-jungle right-5"></i>
    Ban hành
  </button>
  <button class="btn btn-default btn-sm" ng-click="vm.cancel()">
    Bỏ qua
  </button>
</div>